@model CompanyManager.Core.Models.Employee

<div class="container mt-4">

    <h2>Employee Details</h2>

    <hr />

    <dl class="row">

        <dt class="col-sm-3">
            Id
        </dt>

        <dd class="col-sm-9">
            @Model.Id
        </dd>

        <dt class="col-sm-3">
            Name
        </dt>

        <dd class="col-sm-9">
            @Model.Name
        </dd>

        <dt class="col-sm-3">
            Salary
        </dt>

        <dd class="col-sm-9">
            @Model.Salary
        </dd>

        <dt class="col-sm-3">
            Department
        </dt>

        <dd class="col-sm-9">
            @Model.Department?.Name
        </dd>

    </dl>

    <a asp-action="Index"
       class="btn btn-secondary">
        Back
    </a>

    <a asp-action="Edit"
       asp-route-id="@Model.Id"
       class="btn btn-primary">
        Edit
    </a>

</div>